@font-face {
    font-family: 'iconfont';  /* project id 248574 */
    src: url('//at.alicdn.com/t/font_xs8sg4j2h5ubx1or.eot');
    src: url('//at.alicdn.com/t/font_xs8sg4j2h5ubx1or.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_xs8sg4j2h5ubx1or.woff') format('woff'),
    url('//at.alicdn.com/t/font_xs8sg4j2h5ubx1or.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_xs8sg4j2h5ubx1or.svg#iconfont') format('svg');
}

/*@media screen and (max-width:500px){
    .login_header {
        background-color: #fff;
    }
}*/
.icon-font{
    font-family:"iconfont" !important;
    font-size:36px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
body,div,ul,li,ol,dl,dt,p,dd,img,input,a,span,h1,h2,h3,h4{padding:0; margin:0; border:0; list-style:none;}
.login_header {
    position: relative;
    width: 100%;
    height: 323px;
    background-color: #f33;
}
.logo {
    position: absolute;
    z-index: 9999;
    top: 70px;
    left: 10%;
    display: inline-block;
    color: #fff;
}
.logo-text {
    position: relative;
    bottom: 2px;
    font-size: 30px;
}
.content_box {
    position: relative;
    width: 450px;
    margin: -168px auto 0 auto;
    padding: 50px 47px 60px 30px;
    background-color: #fff;
    display: table;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.09);
    box-shadow: 0 0 5px rgba(0,0,0,.09);
}
.content_box:before,.content_box:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    right: -2px;
    display: block;
    width: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #f1f1f1 #fff #fff #f1f1f1;
    -webkit-border-radius: 3px 0 0;
    -moz-border-radius: 3px 0 0;
    border-radius: 3px 0 0;
}
.content_box:after {
    z-index: 2;
    border-width: 12px 12px 0 0;
    right: 5px;
    border-color: #dedede;
}
.content {
    width: 100%;
}
label {
    font-size: 16px !important;
    font-weight: 400 !important;
}
.btn-danger {
    position: absolute;
    background-color: #f33 !important;
    width: 120px;
    left: 50%;
    margin-left: -60px;
}
.foot {
    margin-top: 70px;
    color: #d1d1d1;
    text-align: center;
}
h4 {
    font-size: 16px;
    font-weight: 400;
}
